
.content {
  max-width: 500px;
  margin: auto;
  background: rgba(221, 250, 245, 0.432);
  padding: 10px;
}

img {
  border-radius: 75%;
}

.li-before {
background-color: rgb(176, 177, 179);
}

.li-after{
  background-color: rgb(245, 121, 121);
}

