
.content {
  max-width: 500px;
  margin: auto;
  background: rgba(221, 250, 245, 0.432);
  padding: 10px;
}

img {
  border-radius: 75%;
}

.li-before {
    border-radius: 25px;
    border: 2px solid #070c00;
    padding: 20px;
    height: 5px;
    }

.li-after{
  border-radius: 25px;
  border: 2px solid #5cc06a;
  padding: 20px;
  height: 5px;
}

.delete-burger {
  border-radius: 20px;
}


.devour-burger {
  border-radius: 20px;
}

.add-burger {
  border-radius: 20px;
}